  
.borde {
  border:0px;
  border-right: solid 1px;
  border-color:#dee2e6; 
}
  
.bordint {
  
  border: solid 1px #dee2e6;
  border-radius: 3%;
  margin-left: 40px; 
  
}
.bordint1 {
  border: solid 1px #dee2e6;
  border-radius: 2%;
  margin-left: 20px;   
}
.main1 {
margin-top: 1%;
}
table{

  margin: auto;
}